[Unit]
Description=Prometheus authlog_exporter server
 
[Service]
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
WorkingDirectory=/usr/local/lib/authlog_exporter/
ExecStart=/usr/local/lib/authlog_exporter/authlog_exporter.py

[Install]
WantedBy=multi-user.target